.profile-preview-container {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, .5);
  border-radius: 7px;
}

.profile-preview-container img {
  width: 100%;
  display: block;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.profile-preview-container p {
  font-size: 1.4em;
  padding-top: 10px;
}

.profile-preview-container-link {
  color: black;
  text-decoration: none;
}

.profile-preview-container-link:hover {
  color: black;
  text-decoration: none;
}
